<template>
  <v-form ref="addEventForm" v-model="valid">
    <v-text-field
      :rules="titleRules"
      filled
      label="Title"
      v-model.lazy="title"
    ></v-text-field>
    <v-combobox
      filled
      label="Timezone"
      :items="$store.state.timezoneOptions"
      :rules="timezoneRules"
      v-model="timezone"
    ></v-combobox>
    <app-date-picker
      label="Start date"
      newEventKey="startDate"
    ></app-date-picker>
    <app-time-picker
      label="Start time"
      newEventKey="startTime"
    ></app-time-picker>
    <app-date-picker label="End date" newEventKey="endDate"></app-date-picker>
    <app-time-picker label="End time" newEventKey="endTime"></app-time-picker>
    <label>Color</label>
    <v-color-picker
      mode="hexa"
      label="Color"
      hide-mode-switch
      v-model="color"
    ></v-color-picker>
    <v-btn block :disabled="!valid" @click="addEventToCalendar"
      >Add new Event</v-btn
    >
  </v-form>
</template>

<script>
import moment from "moment-timezone";
import AppDatePicker from "./DatePicker.vue";
import AppTimePicker from "./TimePicker.vue";

export default {
  components: {
    AppDatePicker,
    AppTimePicker
  },
  data: function() {
    return {
      valid: false,
      titleRules: [v => !!v || "Title is required"],
      timezoneRules: [
        v => !!v || "Timezone is required",
        v =>
          this.$store.state.timezoneOptions.includes(v) ||
          "Select a timezone from the dropdown"
      ]
    };
  },
  methods: {
    addEventToCalendar() {
      const newEvent = this.$store.state.newEvent;

      const event = {
        id: this.$uuid(),
        name: this.title,
        start: moment
          .tz(
            newEvent.startDate + "T" + newEvent.startTime + ":00",
            newEvent.timezone
          )
          .unix(),
        end: moment
          .tz(
            newEvent.endDate + "T" + newEvent.endTime + ":00",
            newEvent.timezone
          )
          .unix(),
        color: newEvent.color,
        timed: true
      };
      this.$store.dispatch("addEvent", event);
      this.$refs.addEventForm.resetValidation();
    },
    getNewEventValue(key) {
      return this.$store.state.newEvent[key];
    },
    setNewEventValue(key, value) {
      const newEvent = {};
      newEvent[key] = value;
      this.$store.commit("updateNewEvent", newEvent);
    }
  },
  computed: {
    title: {
      get() {
        return this.getNewEventValue("title");
      },
      set(value) {
        this.setNewEventValue("title", value);
      }
    },
    timezone: {
      get() {
        return this.getNewEventValue("timezone");
      },
      set(value) {
        this.setNewEventValue("timezone", value);
      }
    },
    color: {
      get() {
        return this.getNewEventValue("color");
      },
      set(value) {
        this.setNewEventValue("color", value);
      }
    }
  }
};
</script>

<style></style>
