<template>
  <div style="height: 100%">
    <v-container style="height: 100%">
      <v-row align="center" justify="start">
        <v-col></v-col>
        <v-col align="center">
          <img class="logo" src="../assets/simpCal-logo.png" />
        </v-col>
        <v-col align="center">
          <v-combobox
            v-model="timezone"
            :items="$store.state.timezoneOptions"
            label="Timezone"
            solo
          >
          </v-combobox>
        </v-col>
      </v-row>
      <v-row align="center" justify="start">
        <v-col align="center">
          <v-btn icon x-large @click="previous"
            ><v-icon x-large>mdi-chevron-left</v-icon></v-btn
          ></v-col
        >
        <v-col align="center"
          ><h2>{{ week }}</h2>
        </v-col>
        <v-col align="center"
          ><v-btn icon x-large @click="next"
            ><v-icon x-large>mdi-chevron-right</v-icon></v-btn
          >
        </v-col>
      </v-row>
      <v-row style="height: 85%" align="center" justify="start">
        <v-col class="full-height">
          <v-calendar
            ref="calendar"
            :type="calendar.type"
            :value="currentDay.toDate()"
            :weekdays="calendar.weekdays"
            :events="localizedEvents"
            @change="getLocalizedEvents"
            @click:event="handleClickOnEvent"
          ></v-calendar>
        </v-col>
      </v-row>
    </v-container>

    <div
      v-if="toolbarOpen"
      :style="[eventToolbarPosition]"
      class="event-toolbar"
    >
      <v-btn class="toolbar-button" icon elevation="2" @click="deleteEvent">
        <v-icon> mdi-delete </v-icon>
      </v-btn>
      <v-btn
        class="toolbar-button"
        icon
        elevation="2"
        @click="toolbarOpen = false"
      >
        <v-icon> mdi-close </v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import moment from "moment-timezone";
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => {
    const timezone = "Europe/Berlin";
    return {
      currentDay: moment().tz(timezone),
      calendar: {
        type: "week",
        // Mo - So
        weekdays: [1, 2, 3, 4, 5, 6, 0]
      },
      value: "",
      eventToolbarPosition: {},
      toolbarOpen: false
    };
  },
  computed: {
    timezone: {
      get() {
        return this.$store.state.currentTimezone;
      },
      set(value) {
        this.$store.commit("updateCurrentTimezone", value);
      }
    },
    week() {
      const start = this.currentDay.clone();
      const end = this.currentDay.clone();
      return (
        start.startOf("isoWeek").format("DD.MM.YYYY") +
        " - " +
        end.endOf("isoWeek").format("DD.MM.YYYY")
      );
    },
    now() {
      return moment().tz(this.timezone);
    },
    ...mapGetters({ localizedEvents: "getLocalizedEvents" })
  },
  methods: {
    ...mapActions(["loadEvents"]),
    previous() {
      this.currentDay.subtract(1, this.calendar.type);
      this.$refs.calendar.prev();
    },
    next() {
      this.currentDay.add(1, this.calendar.type);
      this.$refs.calendar.next();
    },
    getLocalizedEvents() {
      this.loadEvents();
      return this.localizedEvents;
    },
    handleClickOnEvent(event) {
      const x = event.nativeEvent.clientX;
      const y = event.nativeEvent.clientY;
      this.eventToolbarPosition = {
        left: x + "px",
        top: y - 32 + "px"
      };
      this.currentEventId = event.event.id;
      this.toolbarOpen = true;
    },
    deleteEvent() {
      this.$store.dispatch("deleteEvent", this.currentEventId);
      this.toolbarOpen = false;
    }
  }
};
</script>

<style scoped>
.event-toolbar {
  position: fixed;
}

.toolbar-button {
  background-color: white;
  margin-right: 0.25em;
}

.logo {
  width: 128px;
  height: auto;
}
</style>
