<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="date"
        :label="label"
        prepend-icon="mdi-calendar"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker v-model="date" @input="menu = false"></v-date-picker>
  </v-menu>
</template>

<script>
export default {
  props: ["label", "newEventKey"],
  data() {
    return {
      menu: false
    };
  },
  computed: {
    date: {
      get() {
        return this.$store.state.newEvent[this.newEventKey];
      },
      set(value) {
        const newEvent = {};
        newEvent[this.newEventKey] = value;
        this.$store.commit("updateNewEvent", newEvent);
      }
    }
  }
};
</script>

<style></style>
