<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    :return-value.sync="time"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="time"
        :label="label"
        prepend-icon="mdi-clock-time-four-outline"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-time-picker
      v-if="menu"
      v-model="time"
      full-width
      @click:minute="$refs.menu.save(time)"
      format="24hr"
    ></v-time-picker>
  </v-menu>
</template>

<script>
export default {
  props: ["label", "newEventKey"],
  data() {
    return {
      menu: false
    };
  },
  computed: {
    time: {
      get() {
        return this.$store.state.newEvent[this.newEventKey];
      },
      set(value) {
        const newEvent = {};
        newEvent[this.newEventKey] = value;
        this.$store.commit("updateNewEvent", newEvent);
      }
    }
  }
};
</script>

<style></style>
