<template>
  <v-app class="full-height">
    <v-main class="grey lighten-2 full-height">
      <v-row style="padding: 1em" class="full-height">
        <v-col class="full-height" cols="2">
          <v-card class="event-form">
            <h2 class="event-title">Event Detail</h2>
            <app-add-event></app-add-event>
          </v-card>
        </v-col>
        <v-col class="full-height" cols="8">
          <v-card height="100%" class="calendar">
            <app-calendar></app-calendar>
          </v-card>
        </v-col>
        <v-col cols="2"></v-col>
      </v-row>
    </v-main>
  </v-app>
</template>

<script>
import AppCalendar from "./components/Calendar.vue";
import AppAddEvent from "./components/AddEvent.vue";

export default {
  components: {
    AppCalendar,
    AppAddEvent
  },

  data: () => ({
    name: "simpCal"
  })
};
</script>

<style>
.full-height {
  height: 100%;
}

.event-form {
  padding: 2em;
  overflow: hidden;
  max-height: 100%;
}
.event-title {
  margin-bottom: 0.5em;
}
.calendar {
  padding: 2em;
  max-height: 100%;
  overflow: hidden;
}
</style>
